@import "tailwindcss";

@theme {
  --color-grad1: #0E1020;
  
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.bold {
  font-family: 'Poppins', sans-serif;
}

.splBtn{
  background: #0E1020;
  box-shadow: 0px 6px 20px #C79FE3;
  transition-duration: 200ms;
}

.splBtn{
  opacity: 0.9;
}

.loading {
  animation: width 5s linear infinite;
  margin-right: auto;
}

.loading1 {
  animation-delay: -4s;
}

.loading2 {
  animation-delay: -2s;
}

@keyframes width {
  0%{width: 100%;}
  10%{width: 73%;}
  20%{width: 35%;}
  30%{width: 37%;}
  40%{width: 48%;}
  50%{width: 65%;}
  60%{width: 46%;}
  70%{width: 38%;}
  80%{width: 66%;}
  90%{width: 76%;}
  100%{width: 100%;}
}